@model Midheaven.Models.Course
@{
    ViewBag.Title = "AdminSelAllCourse";
    Layout = "~/Views/Admin/_LayoutAdmin.cshtml";
}
<style type="text/css">
    .con {
        width: 100%;
        margin: auto auto;
    }

    .all {
        width: 800px;
        height: 800px;
        margin: auto auto;
    }
</style>
<link href="~/script/bootstrap.min.css" rel="stylesheet" />
@using (Html.BeginForm("AdminSelAllCourse", "Admin", FormMethod.Post))
{
    <div class="row ml-5">
        <p>课程名称：@Html.TextBoxFor(m => m.C_Name)</p>
        <input type="submit" name="sub" value="查询" />
    </div>
}
<table border="1" cellpadding="0" cellspacing="0" class="con text-center">
    <tr>
        <th>课程编号</th>
        <th>课程名称</th>
        <th>课程描述</th>
        <th>课程图片</th>
        <th>课程状态</th>
    </tr>
    @foreach (Midheaven.Models.Course item in ViewBag.cla)
    {
        <tr>
            <td>@item.C_ID</td>
            <td>@item.C_Name</td>
            <td>@item.C_Desc</td>
            <td>@item.C_img</td>
            @if (item.C_flog == 0)
            {
                <td>@Html.ActionLink("已审核", "c_flag", new { flag = 0, id = item.C_ID })</td>
            }
            else
            {
                <td>@Html.ActionLink("未审核", "c_flag", new { flag = 1, id = item.C_ID })</td>
            }
        </tr>
    }
</table>

