@model Midheaven.Models.Member
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Updatestu</title>
    <link href="~/script/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
    <div class="text-center">
        @using (Html.BeginForm("Updatestu", "Member", FormMethod.Post))
        {
            <h2>修改学生信息</h2>
            <div class="container">
                <div class="form-group row">
                    <label class="col-4 d-none d-md-block col-form-label" for="stuid">学生编号：</label>
                    @Html.TextBoxFor(m => m.M_ID, new { @class = "form-control col-8" })
                </div>
                <div class="form-group row">
                    <label class="col-4 d-none d-md-block col-form-label" for="stuname">学生姓名：</label>
                    @Html.TextBoxFor(m => m.RealName, new { @class = "form-control col-8" })
                </div>

                <div class="form-group row">
                    <label class="col-4 d-none d-md-block col-form-label" for="name">登录名：</label>
                    @Html.TextBoxFor(m => m.UserName, new { @class = "form-control col-8" })
                </div>
                <div class="form-group row">
                    <label class="col-4 d-none d-md-block col-form-label" for="pwd">密码：</label>
                    @Html.TextBoxFor(m => m.Password, new { @class = "form-control col-8", @type = "password" })
                </div>
                <div class="form-group row">
                    <label class="col-4 d-none d-md-block col-form-label" for="sex">性别：</label>
                    <span>@Html.RadioButtonFor(m => m.Sex, "男") 男</span>
                    <span> @Html.RadioButtonFor(m => m.Sex, "女") 女</span>
                </div>
                <div class="form-group row">
                    <label class="col-4 d-none d-md-block col-form-label" for="phone">电话：</label>
                    @Html.TextBoxFor(m => m.PhoneNum, new { @class = "form-control col-8" })
                </div>
                <div class="form-group row">
                    <label class="col-4 d-none d-md-block col-form-label" for="adree">住址：</label>
                    @Html.TextBoxFor(m => m.Address, new { @class = "form-control col-8" })
                </div>
                <div class="form-group row">
                    <label class="col-4 d-none d-md-block col-form-label" for="sex">是否通过审核：</label>
                    <span>@Html.RadioButtonFor(m => m.M_Flog, "是")是</span>
                    <span> @Html.RadioButtonFor(m => m.M_Flog, "否")否</span>
                </div>
                <input class="btn btn-primary btn-lg btn-block" type="submit" value="修改">
            </div>
        }
    </div>
</body>
</html>
